<% content_for :header_buttons do %>
  <nav>
    <ul>
      <li><a href="/">view all recipes</a></li>
      <li><a href="/grocery/edit">edit groceries</a></li>
    </ul>
  </nav>
<% end %>

<h2 class="grocery-heading">Today's Grocery List:</h2>

<dl>
  <% @storage.view_categorized_grocery_list.each do |category, items|%>
    <dt><%= category %></dt>
    <% items.each do |item| %>
        <dd><%= item.join(" ") %></dd>
    <% end %>
    <% end %>
</dl>